@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: poppins;
}
body{
    margin:0px;
    padding: 0;
}
.options button{
    background-color: black;
    color:white;
}
.options button:hover{
    background-color: white;
    color:black;
}
@media screen and (max-width: 1100px) {
    .parent button{
        display:none; 
    }
    img.compact{
        display: block;
    }
    img.logo{
        height:70px;
        width:45%;
    }
}